.container {
  max-width: 115rem;
  min-height: 80rem;
  margin: 8rem auto;
  background-color: var(--color-tertiary);
  box-shadow: var(--shadow-dark);
}

.content {
  display: flex;
}

.section {
  &-view {
    flex: 1;
    min-height: 80vh;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

// displays
.d-flex { display: flex; }
.fd-column { flex-direction: column; }

// font-sizes
.fs-12 { font-size: 1.2rem; }
.fs-14 { font-size: 1.4rem; }
.fs-16 { font-size: 1.6rem; }
.fs-18 { font-size: 1.8rem; }
.fs-20 { font-size: 2rem; }
.fs-30 { font-size: 3rem; }

// margins
.mt-0 { margin-top: 1rem; }
.mt-1 { margin-top: 2rem; }
.mt-2 { margin-top: 4rem; }
.mt-3 { margin-top: 6rem; }
.mt-4 { margin-top: 8rem; }
.mt-5 { margin-top: 10rem; }

.mr-0 { margin-right: 1rem; }
.mr-1 { margin-right: 2rem; }
.mr-2 { margin-right: 4rem; }
.mr-3 { margin-right: 6rem; }
.mr-4 { margin-right: 8rem; }
.mr-5 { margin-right: 10rem; }

.mb-0 { margin-bottom: 1rem; }
.mb-1 { margin-bottom: 2rem; }
.mb-2 { margin-bottom: 4rem; }
.mb-3 { margin-bottom: 6rem; }
.mb-4 { margin-bottom: 8rem; }
.mb-5 { margin-bottom: 10rem; }

.ml-0 { margin-left: 1rem; }
.ml-1 { margin-left: 2rem; }
.ml-2 { margin-left: 4rem; }
.ml-3 { margin-left: 6rem; }
.ml-4 { margin-left: 8rem; }
.ml-5 { margin-left: 10rem; }

// width
.w-100 { width: 100%; }
.w-90 { width: 90%; }
.w-80 { width: 80%; }
.w-70 { width: 70%; }
.w-60 { width: 60%; }
.w-50 { width: 50%; }

// height
.h-100 { height: 100%; }
.h-90 { height: 90%; }
.h-80 { height: 80%; }
.h-70 { height: 70%; }
.h-60 { height: 60%; }
.h-50 { height: 50%; }

// background colors

.bg-red { background-color: red; }
.bg-green { background-color: green; }

.bg-secondary-dark { background-color: var(--color-secondary-dark); }

.bg-primary-light { background-color: var(--color-primary-light); }